<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.product.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.product.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <!--<small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.product.user"
            data-ng-bind="vm.product.user.displayName"></span>
      <span data-ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small> -->
  <p class="lead" data-ng-bind="vm.product.content"></p>
<div id="productInfo">
  <h4>Product Name: {{vm.product.name}}</h4>
  <h4>UPC Code: {{vm.product.upcCode}}</h4>
  <h4>Description: {{vm.product.productDesc}}</h4>
  <h4>Price: {{vm.product.price | currency}}</h4>
  <h4>Cost: {{vm.product.cost | currency}}</h4>
  <h4>Department: {{vm.product.department}}</h4>
</div>
</section>
