<section>
  <div class="page-header">
    <h1>Descriptions</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="description in vm.descriptions"
       data-ui-sref="descriptions.view({ descriptionId: description._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="description.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="description.user" data-ng-bind="description.user.displayName"></span>
        <span data-ng-if="!description.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="description.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.descriptions.$resolved && !vm.descriptions.length">
    No Descriptions yet, why don't you <a data-ui-sref="descriptions.create">create one</a>?
  </div>
</section>
